#gallery img {
  object-fit: contain;
}

.carousel-item img {
  height: 90vw;
  object-fit: contain;
}

@media (min-width: 576px) {
  .carousel-item img {
    height: calc(95vh - 24px - 2*16px - 46px - 2*12px);
  }
}

#galleryModal .modal-body {
  max-height: calc(95vh - 24px - 2*16px - 46px - 2*12px);
}

.gallery-image {
  margin-bottom: 15px;
  cursor: pointer;
}

.gallery-container {
  overflow-x: hidden;
}
