$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

#gallery {
  
  img {
     object-fit: cover;
  }
}

.carousel-item {
  
  img {
    height: 60vw;
    object-fit: cover;
    
    @media (min-width: $bootstrap-sm) {
      height: 350px;
    }
  }
}

.gallery-image {
  margin-bottom: 15px;
}

.gallery-container {
  overflow-x: hidden;
}
