$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

#gallery {
  img {
    object-fit: cover;
  }
}

.carousel-item {
  img {
    height: 90vw;
    object-fit: cover;
    @media (min-width: $bootstrap-sm) {
      height: calc(95vh - 24px - 2*16px - 46px - 2*12px);
    }
  }
}

#galleryModal .modal-body {
  max-height: calc(95vh - 24px - 2*16px - 46px - 2*12px);
}

.gallery-image {
  margin-bottom: 15px;
  cursor: pointer;
}

.gallery-container {
  overflow-x: hidden;
}
