html,
body {
    height: 100%;
}

.h-300 {
    height: 300px !important;
}

.full-height {
    height: 100vh;
}

.order-panel-A {
    /* background-color: blueviolet; */
    overflow-y: auto;
    height: 300px;
}
.order-panel-B {
    /* background-color: burlywood; */
    overflow-y: auto;
    height: 300px;
}

.order-panel-C {
    /* background-color: bisque; */
    /* height: 30vh; */
}

.order-panel-D {  
    /* background-color: aqua; */
    /* height: 30vh; */
}

.order-panel-E {  
    /* background-color: aliceblue; */
    /* height: 100vh; */
}