html,
body {
  height: 100%;
}

.tr-skip-height {
  height: auto;
}

table > tbody > tr:not(.tr-skip-height) {
  height: 30px !important;
}

table > tbody > tr:not(.tr-skip-height) > td {
  height: 30px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table > tbody > tr > td {
  font-size: 9pt !important;
}

.ordered-scope-table > table > tbody > tr,
.ordered-scope-table > table > tbody > tr > td {
  height: 28px !important;
  font-size: 8pt !important;
}

table > tbody > tr > td > span {
  font-size: 9pt !important;
}

table > tbody > tr > td > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 9pt !important;
}

td > a > div > div {
  line-height: 2;
}

.sub-col-title,
.panel-col-title {
  text-transform: uppercase;
  background-color: #E0E0E0;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-left: 12px !important;
  border: 1px solid #d0d0d0;
  height: 43px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 9pt;
  margin: 5px auto 5px auto;
}

.h-300 {
  height: 300px !important;
}

.full-height {
  height: 100vh;
}

.order_panel {
  position: relative;
}

.operatus-expand-full {
  position: relative;
}

.operatus-table-panel {
  position: relative;
}

.icon-expand,
.icon-expand-2,
.icon-expand-side,
.icon-expand-d,
.icon-expand-c,
.icon-expand-e,
.icon-contract,
.icon-contract-2,
.icon-contract-side,
.icon-contract-d,
.icon-contract-c,
.icon-contract-e,
.icon-full-map {
  color: #505050;
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 10;
}

.order-panel-A1 > div > table > tbody > tr > td > div,
.order-panel-B1 > div > table > tbody > tr > td > div {
  padding-left: 15px !important;
}

.icon-show-title,
.icon-hide-title {
  color: #505050;
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 10;
}

.icon-expand-e-top,
.operatus-expand-sub > .icon-expand,
.operatus-expand-sub > .icon-contract {
  top: 14px;
}

.panel-col-title > .icon-expand-side,
.panel-col-title > .icon-contract-side {
  top: 12px;
  right: 5px;
}

.inner_panel {
  position: absolute;
  top: 0;
  left: 0;
}

.order-panel-A {
  /* background-color: blueviolet; */
  overflow-y: auto;
  height: 300px;
}

@media (min-width: 992px) {
  .order-panel-B {
    /* background-color: burlywood; */
    overflow-y: auto;
    height: 276px;
  }
}

.order-panel-C {
  /* background-color: bisque;
    height: 30vh; */
}

.order-panel-D {
  /* background-color: aqua;
    height: 30vh; */
}

.order-panel-E {
  overflow-y: auto;
  /* background-color: aliceblue;
    height: 200vh; */
}

@media (min-width: 992px) {
  .overflow-panel {
    max-height: calc(92vh - 300px);
    overflow-y: hidden;
  }
}

@media (min-width: 992px) {
  .overflow-panel-E {
    max-height: 92vh;
    overflow-y: hidden;
  }
}

.panel-show-more,
.panelC-show-more,
.panelD-show-more,
.panelE-show-more,
.panel-show-less,
.panelC-show-less,
.panelD-show-less,
.panelE-show-less {
  text-align: center;
  color: rgb(80, 80, 80);
  opacity: 0.3;
  transform: scale(0.8);
  transition: opacity 0.75s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.panel-show-more-hover,
.panel-show-more:hover,
.panelC-show-more:hover,
.panelC-show-more-hover,
.panelD-show-more:hover,
.panelD-show-more-hover,
.panelE-show-more:hover,
.panelE-show-more-hover,
.panel-show-less:hover,
.panelC-show-less:hover,
.panelD-show-less:hover,
.panelE-show-less:hover {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
}

.operatus-row-show-more-container {  
  position: relative;
}

.show-more-label {
  font-size: 13pt;
  position: absolute;
  top: 0px;
  left: 0px;
}

.moved-up {
  transform: translateY(-10px);  
}

#loader > div > div:nth-child(1) > div > img {
  object-fit: cover;
  height: 20vh;
}

@media (max-width: 600px) {
  #loader > div > div:nth-child(1) > div > img {
    width: 90vw;
    height: auto;
  }  

  #loader > div > div:nth-child(2) > div > div {
    width: 90vw !important;
  }  
}

#vessel {  
  position: relative;
  -webkit-animation: vesselAnimation 10s infinite  normal linear, vesselWave 2s infinite  normal linear;
  animation: vesselAnimation 10s infinite  normal linear, vesselWave 2s infinite  normal linear;
}
@-webkit-keyframes vesselAnimation {
  0% {
      left:0px;
  }
  100% {
      left: 100vw;
  }
}
@-webkit-keyframes vesselWave {
  0% {
      top:3px;
  }
  50% {
    top: 8px;
  }
  100% {
    top: 3px;
  }
}

@keyframes vesselAnimation {
  0% {
    left:0px;
  }
  100% {
    left: 100vw;
  }
}

@keyframes vesselWave {
  0% {
    top:3px;
  }
  50% {
    top: 8px;
  }
  100% {
    top: 3px;
  }
}

.sea-wave {
  background: linear-gradient(to right, #428dd4E0, #67a2da80);
  position: relative;
  height:10px;
  width:100vw;
}
.sea-wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -10px, transparent 13px, #2b78c2F0 13px);
}